#grid {
    width: 250px;
}

.grid-cell {
    margin: 5px;
    width: 45px;
    height: 45px;
    float: left;
    background-color: #B4D8CF;
    border: 1px;
    border-style: solid;
    text-align: center;
}